<section class="container">
  <form #bookForm="ngForm" novalidate *ngIf="value">
    <div class="form-group row">
      <label for="name" class="col-lg-1 col-form-label">Name:</label>
      <div class="col-lg-4">
        <input id="name" name="titleField" type="text" [(ngModel)]="value.name"
               class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-lg-1 col-form-label">Email:</label>
      <div class="col-lg-4">
        <input id="email" name="authorField" type="text" [(ngModel)]="value.email"
               class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary" (click)="saveClicked()">Save</button>
      </div>
    </div>
  </form>
  <div *ngIf="!value"><p>No user selected</p></div>
</section>
