<section class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users" [class.row-selected]="selectedUser && selectedUser.id === user.id" (click)="selectUser(user.id)">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <app-user-details [value]="selectedUser" (onSave)="save($event)"></app-user-details>
    </div>
  </div>
</section>
