<section class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td><a [routerLink]="['/users', user.id]">Details</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <app-user-details [value]="selectedUser"></app-user-details>
    </div>
  </div>
</section>
